$backcolor : #343838;
$rightblue : #00DFFC;
$tyoiusu : #00B4CC;
$maausu: #008C9E;
$ussu : #005F6B;

@mixin color {
    color :$rightblue;
}

@mixin summoner_list_area ($value){
        height : $value ;
}

html , body {
    background-color: $backcolor;
    .wapper {
        h1 {
            @include color;
        }
        .contents {
            margin : 0 15% 0 15%;
            background-color : $backcolor / 2;
            .content {
                h2 {
                    color : $rightblue;
                }
                color: $rightblue;
                #randam_summoner_list {
                    @include summoner_list_area(7em);
                }
                #intrasquad_summoner_list {
                    @include summoner_list_area(13em);
                }
            }
        }
    }
}
