$backcolor : #343838;
$rightblue : #00DFFC;
$tyoiusu : #00B4CC;
$maausu: #008C9E;
$ussu : #005F6B;


html , body {
    background-color: $backcolor;
    .wapper {
        h1 {
            color :$rightblue;
        }
        .containter {
            margin : 0 15% 0 15%;
            background-color : $backcolor / 2;
            .tab_content > div {
                color : $rightblue;
            }

        }
    }
}
